.login {
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 100px;
}

.login-forget-link {
    font-size: 12px;
    color: #43caff;
}

.login-card input,
.login-card button {
  min-height: 40px;
}

