.btn {
  border-radius: 4px;
  border: none;
  color: var(--white);
}

.btn-min {
  min-width: 100px;
}

.login-btn {
  background-color: #000;
  width: 100%;
  color: #fff;
  padding: 4px 0;
}

.primary-btn {
  background-color: var(--primary);
}

.primary-btn:hover {
  background-color: var(--dark-purple) !important;
  color: var(--white) !important;
}

.primary-btn:disabled,
.operations-btn:disabled {
  background-color: var(--gray-500) !important;
  color: var(--white) !important;
}

.secondary-btn {
  background-color: var(--secondary);
}

.cancel-btn {
  background-color: var(--gray-800);
}

.info-btn,
.file-btn,
.operations-btn {
  background-color: var(--info);
}

.info-btn:hover,
.file-btn:hover,
.detail-info:hover,
.operations-btn:hover {
  background-color: var(--dark-blue) !important;
  color: var(--white) !important;
}

.cancel-btn:hover {
  background-color: var(--gray-900) !important ;
  color: var(--white) !important;
}

.detail-info {
  position: absolute;
  top: 26px;
  right: 20px;
  z-index: 1000;
  background-color: var(--info);
  color: var(--white);
  border: none;
}

.depo {
  border: none;
  padding: 0;
  color: #f00;
  height: auto;
}


.plaka-button {
  border: 1px solid var(--black);
  border-radius: 4px;
  display: flex;
  text-align: center;
  align-items: center;
  transition: all .3s linear;
  padding: 0;
}

.plaka-button span:first-of-type {
  width: 20%;
  background-color: var(--primary);
  color: var(--white);
  padding: 4px;
  box-sizing: border-box;
  min-width: 40px;
}

.plaka-button span:last-of-type {
  width: 80%;
  background-color: var(--white);
  color: var(--black);
  font-weight: 600;
  padding: 4px  10px;
  min-width: 50px;
}

.plaka-button:hover span:last-of-type {
  background-color: var(--gray-400);
}
