.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.gap-4 {
  gap: 40px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-self-end {
  justify-self: end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-baseline {
  align-items: baseline;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: end;
}

.justify-self {
  justify-self: end;
}

.center {
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 10px;
}

.py-10 {
  padding: 10px 0;
}

.py-20 {
  padding: 20px 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.m-20 {
  margin: 20px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}
