/* In your CSS file or a stylesheet */
.blue-dot-button {
  position: relative;
}

.blue-dot {
  /* position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%); */
  width: 12px;
  height: 12px;
  background-color: #006cb8;
  border-radius: 50%;
  content: "";
  display: block;
  border: 1px solid #fff;
}
